[Unit]
Description=lemonade server
Documentation=https://github.com/lemonade-command/lemonade#readme
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/%u/.local/share/go/bin/lemonade server
