# https://wiki.archlinux.org/title/Systemd/User#Persistent_terminal_multiplexer
[Unit]
Description=Terminal multiplexer
Documentation=man:tmux(1)
# https://naftuli.wtf/2017/12/28/systemd-user-environment/
Requires=default.target
After=default.target
