[includeIf "hasconfig:remote.*.url:git@gitlab.com:Distributed-Compute-Protocol/**"]
	path = .distributive.gitconfig

[includeIf "gitdir:~/git/**/Distributed-Compute-Protocol/**/.git"]
	path = .distributive.gitconfig

[includeIf "gitdir:~/git/**/Kings-Distributed-Systems/**/.git"]
	path = .distributive.gitconfig

[includeIf "gitdir:~/git/**/wesgarland/**/.git"]
	path = .distributive.gitconfig
