[submodule "gpakosz/.tmux"]
	path = src/github.com/gpakosz/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "akinomyoga/ble.sh"]
	path = src/github.com/akinomyoga/ble.sh
	url = https://github.com/akinomyoga/ble.sh.git
[submodule "ohmybash/oh-my-bash"]
	path = src/github.com/ohmybash/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule "amix/vimrc"]
	path = src/github.com/amix/vimrc
	url = https://github.com/amix/vimrc.git
# Catppuccin
[submodule "catppuccin/lsd"]
	path = src/github.com/catppuccin/lsd
	url = https://github.com/catppuccin/lsd.git
[submodule "catppuccin/bat"]
	path = src/github.com/catppuccin/bat
	url = https://github.com/catppuccin/bat.git
[submodule "catppuccin/xresources"]
	path = src/github.com/catppuccin/xresources
	url = https://github.com/catppuccin/xresources.git
[submodule "catppuccin/dunst"]
	path = src/github.com/catppuccin/dunst
	url = https://github.com/catppuccin/dunst.git
[submodule "catppuccin/delta"]
	path = src/github.com/catppuccin/delta
	url = https://github.com/catppuccin/delta.git
# Dracula
[submodule "dracula/gtk"]
	path = src/github.com/dracula/gtk
	url = https://github.com/dracula/gtk.git
[submodule "dracula/git"]
	path = src/github.com/dracula/git
	url = https://github.com/dracula/git
[submodule "dracula/rofi"]
	path = src/github.com/dracula/rofi
	url = https://github.com/dracula/rofi.git
