always-auth=true
color=always
depth=0
engine-strict=false
fetch-retry-maxtimeout=10000
fetch-timeout=30000
fund=false
init-author-name=Bryan Hoang
init-author-email=bryan@bryanhoang.dev
init-version=0.0.0-development
save-exact=false
send-metrics=true
sign-git-commit=true
sign-git-tag=true
update-notifier=false
save-prefix=^
auto-install-peers=true
fetch-retries=0
