{
  "$schema": "http://json.schemastore.org/prettierrc",
  "overrides": [
    {
      "files": "*.keystore",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "xmlWhitespaceSensitivity": "ignore"
}
