# `sudo cp ~/.config/X11/xsession.desktop /usr/share/xsessions/xsession.desktop`
[Desktop Entry]
Name=Xsession
Comment=Custom Xsession file
TryExec=/etc/X11/Xsession
Exec=/etc/X11/Xsession
Type=Application
DesktopNames=Xsession
