root = true

[*]
indent_size = 2
indent_style = tab

charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,yml,yaml,kdl,hjson}]
indent_style = space

[*gemrc]
indent_style = space

[*.{py,kdl}]
indent_size = 4

[*.{el,diff,cbl}]
indent_style = space
indent_size = unset

[*.vil]
insert_final_newline = unset

[**/.git/config]
indent_size = unset

[*.{md,mdx}]
indent_size = unset
indent_style = unset

# https://github.com/rust-lang/style-team/blob/master/guide/guide.md
# https://github.com/rust-lang/style-team/blob/master/guide/cargo.md
[{*.rs,Cargo.toml}]
indent_size = 4
indent_style = space

[Dockerfile*]
indent_size = unset
indent_style = unset

[dunstrc]
indent_size = 4
indent_style = space

[**/dunstrc.d/*.conf]
indent_size = 4
indent_style = space

[{Makefile,*.mk,COMMIT_EDITMSG}]
indent_size = unset

[Tiltfile]
indent_size = 4
indent_style = space
