root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,yml,yaml,md,kdl}]
indent_style = space

[*gemrc]
indent_style = space

[*.{py,kdl}]
indent_size = 4

[*.{el,diff,cbl}]
indent_style = space
indent_size = unset

[*.vil]
insert_final_newline = unset

[{**/.git/config,*.md}]
indent_size = unset

# https://github.com/rust-lang/style-team/blob/master/guide/guide.md
# https://github.com/rust-lang/style-team/blob/master/guide/cargo.md
[{*.rs,Cargo.toml}]
indent_style = space
indent_size = 4

[*Dockerfile]
indent_style = unset
indent_size = unset
