[client]
# The client section is read by mycli and all MySQL applications.

# Default connection information
user = bryan
host = localhost
port = 3306

# Enable automatic rehashing. This option is on by default, which enables
# database, table, and column name completion. Use --disable-auto-rehash to
# disable rehashing. That causes mysql to start faster, but you must issue the
# rehash command or its \# shortcut if you want to use name completion.
#
# To complete a name, enter the first part and press Tab. If the name is
# unambiguous, mysql completes it. Otherwise, you can press Tab again to see
# the possible names that begin with what you have typed so far. Completion
# does not occur if there is no default database.
auto-rehash

# Cause result sets to be displayed vertically if they are too wide for the
# current window, and using normal tabular format otherwise. (This applies to
# statements terminated by ; or \G.)
auto-vertical-output

# When this option is given, mysql displays binary data using hexadecimal
# notation (0xvalue). This occurs whether the overall output display format is
# tabular, vertical, HTML, or XML.
binary-as-hex

# Use the UTF-8 character set
default-character-set = utf8

# MySQL prompt
# \u - Username
# \h - Hostname of the server
# \d - Database name
prompt = '\u@\h:\d> '

# Silent mode. Produce less output. This option can be given multiple times to
# produce less and less output.
#
# This option results in nontabular output format and escaping of special
# characters. Escaping may be disabled by using raw mode; see the description
# for the --raw option.
silent

# Display output in table format. This is the default for interactive use, but
# can be used to produce table output in batch mode.
table
